.dept-button {
    float: right;
    margin-bottom: 10px;
}
.dept-card {
    margin-top: 0px;
}
.dept-card-body {
    padding-top: 10px;
}
.dept-trash {
    margin-left: 5px;
}
.dept-name{
    cursor: pointer;
}
.dept-img {
    width: 100%;
}
.dept-add-img {
    width: 100%;
    margin-top: 10%;
}
.dept-details-des{
    border-left: solid;
    padding-left: 10px;
}
.dept-details-col {
    padding-top: 5%;
}
.dept-details-card{
    border-radius: 5px;
}
i{
    font-size: large;
}
p{
    width: fit-content;
}